name: Deploy web

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
          cache-dependency-path: web/package-lock.json

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0

      - name: Cache WASM build
        uses: actions/cache@v4
        with:
          path: backend/target
          key: cargo-${{ hashFiles('backend/Cargo.lock') }}

      - name: Build web app
        run: |
          cd web
          npm ci
          npm run wasm-release
          npm run build --if-present
          # TODO Not sure why this is happening
          mv dist/assets/backend_bg.wasm dist/

      - name: Publish
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./web/dist/
